/* Общие стили для всех экранов */
body {
  background-color: black;
  color: green;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

h1,
p,
div {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  max-width: 90%;
}

button {
  background-color: black;
  border: 2px solid green;
  color: green;
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
}

button:hover {
  background-color: green;
  color: black;
}

@media (max-width: 320px) {
  h1,
  p,
  div {
    font-size: 12px;
    padding: 5px 10px;
  }
}
