body {
  background-color: black;
  color: green;
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

p {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: justify;
  max-width: 70%;
  margin-bottom: 15px;
}

div {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  border-radius: 5px;
}

button {
  background-color: black;
  border: 2px solid green;
  color: green;
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: green;
  color: black;
}

.matrix-item {
  position: absolute;
  font-size: 12px;
  animation: fall infinite;
  animation-timing-function: linear;
  opacity: 0.8;
}

@keyframes fall {
  to {
    transform: translateY(
      calc(100% + 100px)
    ); /* чтобы элементы двигались за пределы экрана */
  }
}
